header {
    #headerTop {
        padding: 1% .75%;
        display: flex;

        #left {
            width: 33.33%;
        }

        #middle {
            width: 33.33%;
            display: flex;
            align-items: center;
            justify-content: center;

            a {
                p {
                    color: #FFFFFF;
                    font-family: lexend;
                    font-size: 1.75em;
                }
            }
        }

        #right {
            width: 33.33%;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            #menuIcon {
                aspect-ratio: 1/1;
                width: 5%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-end;
                opacity: .75;
                transition: .25s ease;

                :nth-child(1) {
                    width: 100%;
                }

                :nth-child(2) {
                    width: 70%;
                }

                :nth-child(3) {
                    width: 100%;
                }

                span {
                    background-color: #FFFFFF;
                    height: 15%;
                    border-radius: 15px;
                    transition: .35s ease;
                }

                &:hover {
                    opacity: 1;
                    cursor: pointer;
                }
            }

            .menuIcon-open {
                :nth-child(1) {
                    opacity: 0;
                }

                :nth-child(2) {
                    width: 100% !important;
                }

                :nth-child(3) {
                    opacity: 0;
                }
            }
        }
    }

    nav {
        overflow: hidden;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        max-height: 0;
        transition: .5s ease !important;

        .navItem {
            padding: 1% 1.5%;
            margin: 0 1%;

            p {
                font-family: lexend;
                color: #FFFFFF;
                opacity: .75;
            }

            &:hover {
                p {
                    opacity: 1;
                }
            }
        }
    }
}